
script(src=path +"js/gsap.min.js")
script(src=path +"js/gsap-scroll-trigger.min.js")
script(src=path +"js/gsap-scroll-to.min.js")
script(src=path +"js/SplitText.js")

script(src=path +"js/swiper-bundle.min.js")
script(src=path +"js/slider.js")


script(src=path +"js/home.js")
